<% provide :title, "Novasector" %>
<% content_for :moreJS do %>
  <%= javascript_include_tag 'myRandom' %>
  <%= javascript_include_tag 'myDice' %>
  <%= javascript_include_tag 'myJewels' %>
<% end %>



<div class="dflexc-jcs" id="mainNavPanel">
  <ul class="navListTop">
    <li class="navItem" id="navItem_Dice">
      Dice
    </li>
    <li class="navItem" id="navItem_Jewels">
      Jewels
    </li>
  </ul>
  <ul class="navListBottom">
    <li class="navItem" id="navItem_Creatures">
      Creatures
    </li>
  </ul>
</div>

<div class="dflexr-jcs" id="dicePanel">
  <div class="dflexc-jcs" id="diceBtnPanel">
    <input type="text" id="diceInputStr" value="10 2D6">
    
  </div>
  <div class="dflexc-jcs behidden" id="jewelInputPanel">
    <label for="jewelInput" id="lblJewelInput">
      Enter the number of jewels
    </label>
    <input type="text" id="jewelInput" placeholder="Number of Jewels">
  </div>
  <div class="behidden" id="creatureFilterPanel">
  
  </div>
  <div class="dflexc-jcs" id="diceResultsPanel">
  
    <% if flash[:notice].present? %>
      <div class="col-lg-12 alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error].present? %>
      <div class="col-lg-12 alert alert-danger text-center">
        <%= flash[:error] %>
      </div>
    <% end %>
    
    
    <div id="diceResultsView" class="dflexr-jcc"></div>
    <div id="diceResultsStatus">
      Total:
    </div>
  </div>
</div>

<!-- html templates used by javascript -->
<div class="behidden" id="templates">
  <div class="diceBtn" id="diceBtn_template" >
  </div>
  
  <div class="dflexc-jcs dice_results_col" id="diceResultsCol_template">
  </div>
  
  <div class="dice_results_item" id="diceResultsItem_template">
  </div>
  
  <div class="dflexc-jcs" id="jewel_results_col">
  </div>
  
  <div id="jewelHeader_count">Number of</div>
  <div id="jewelHeader_value">Value</div>
  <div id="jewelHeader_types">Jewel Types</div>
  
  <div id="jewel_count" class="jcount_row"></div>
  <div class="jewel_value" id="jewel_value"></div>
  <div class="dflexr-jcs jtype_row" id="jewel_types"></div>
  
  <div class="dflexr-jcs jtype_cell" id="jtype_rb">
    <div id="rb_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'ruby_type.png', size: '16' %>
    </div>
  </div>
  <div class="dflexr-jcs jtype_cell" id="jtype_em">
    <div id="em_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'emerald_type.png', size: '16' %>
    </div>
  </div>
  <div class="dflexr-jcs jtype_cell" id="jtype_di">
    <div id="di_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'diamond_type.png', size: '16' %>
    </div>
  </div>
  <div class="dflexr-jcs jtype_cell" id="jtype_sa">
    <div id="sa_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'saphire_type.png', size: '16' %>
    </div>
  </div>
  <div class="dflexr-jcs jtype_cell" id="jtype_am">
    <div id="am_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'amathyst_type.png', size: '16' %>
    </div>
  </div>
  <div class="dflexr-jcs jtype_cell" id="jtype_op">
    <div id="op_cnt"></div>
    <div class="jtype_img">
      <%= image_tag 'opal_type.png', size: '16' %>
    </div>
  </div>
  
  <div class="dflexr-jcs jewel_results_item" id="jewelResultsItem_template">
  </div>
  
</div>
