<div class="formbox">
  <%= form_tag "main/login" do %>
    <div class="input-group">
      <%= label_tag "uname", "User Name", class: "labelTab" %>
      <%= text_field_tag "uname", nil, class: "form-control" %>
    </div>
    <div class="input-group">
      <%= label_tag "password", "Password", class: "labelTab" %>
      <%= password_field_tag "password", nil, class: "form-control" %>
    </div>
    <%= submit_tag "Login"%>
  <% end %>
</div>

