<div class="formbox">
  <%= form_for :user do |f| %>
    <% if @user %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Invalid Form Data</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end %>
    <% end %>
    
    <div class="input-group">
      <%= f.label :uname, "User Name", class: "labelTab" %>
      <%= f.text_field :uname, class: "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :email, "Email", class: "labelTab" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :password, "Password", class: "labelTab" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="input-group">
      <%= f.label :password_confirmation, "Password", class: "labelTab" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  <% end %>
</div>
