<!-- <div class="container-fluid"> -->
<nav class="navbar navbar-inverse sidebar" id="admin-nav" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3 class="" href="#">Admin</h3>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >
          <%= link_to usergroup_edit_path, remote: true, class: 'sidebar-nav-active greenshadow', onClick: 'toggleAdminSidebarSelected(this, "usergroup");', 'ng-click': "PanelCtrl['main'] = 'usergroup'".html_safe, target: "_self" do %>
            Users/Groups
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span>
          <% end %>
        </li>
        <li >
          <%= link_to "#", class: 'cyanshadow', onClick: 'toggleAdminSidebarSelected(this, "ironhedge");', 'ng-click': "PanelCtrl['main'] = 'ironhedge'".html_safe, target: "_self" do %>
            Ironhedge
            <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-fire"></span>
          <% end %>
          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
  <!-- </div> -->

<!-- admin.js contains javascript for the sidebar menu -->
<!-- <script type="text/javascript" src="admin.js">
</script> -->