<div class="col-lg-12 tbl_ironhedgeclass" id="alchemist_admintable" ng-controller="ironAdminTableCtrl"> 

    <div class="col-lg-12 tableCaption-map"><h3>Alchemist Classes</h3></div>
    <div class="row borderBottom_redgrey">
        <div class="tblcol-rank tblhdr" style="left: 25px">Rank</div>
        <div class="tblhdr" style="left: 62px">EL</div>
        <div class="tblhdr" style="left:118px">AL</div>
        <div class="tblhdr epcolumn" style="left:137px">EP</div>
        <div class="tblhdr mpacolumn" style="left:180px">MI</div>
        <div class="tblhdr enccolumn" style="left:212px">ENC</div>
        <div class="tblhdr kpcolumn" style="left:253px">KP</div>
        <div class="tblhdr" style="left:297px">IP</div>
        <div class="tblhdr" style="left:331px">PW-1ST</div>
        <div class="tblhdr" style="left:370px">2ND</div>
        <div class="tblhdr" style="left:409px">3RD</div>
        <div class="tblhdr" style="left:448px">4TH</div>
        <div class="tblhdr tblhdr-actions" style="left:467px">Actions</div>
    </div>
    <div class="alchemist_row" id="alchemist_list">
        <% @aclasses.each do |ac| %>
            <%= render "admin/alchemist/classrow", ac: ac  %>
        <% end %>
    </div>
<div class="alchemist_row" id="addAlchemistData">
    <%= form_for @acnew, url: '/utility/addAlchemistClass', remote: true do |f| %>
    <div class="row">
        <div class="tbldata" style="left:  5px"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 53px"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 86px"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata epcolumn" style="left: 93px"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left:131px"><%= f.text_field :mi, size: 2 %></div>
        <div class="tbldata enccolumn" style="left:159px"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left:200px"><%= f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left:241px"><%= f.text_field :ip, size: 1 %></div>
        <div class="tbldata" style="left:290px"><%= f.text_field :q1, size: 1 %></div>
        <div class="tbldata" style="left:323px"><%= f.text_field :q2, size: 1 %></div>
        <div class="tbldata" style="left:355px"><%= f.text_field :q3, size: 1 %></div>
        <div class="tbldata" style="left:387px"><%= f.text_field :q4, size: 1 %></div>
        <div class="tbldata" style="left:410px"><%= f.submit "+" %></div>
    </div>
    <% end %>
    </div>
    <div class="clearleft">
        <button type="button" ng-click="backToTableIndex('alchemist')">Back</button> to Table Index
    </div>
</div>
