<div class="col-lg-12 tbl_ironhedgeclass" id="fighter_admintable" ng-controller="ironAdminTableCtrl"> 
<!-- ng-show="ironPanelCtrl['adminTable'] == 'adminFighterTable'" -->
    <div class="col-lg-12 tableCaption"><h3>Fighter Classes</h3></div>
    <div class="row borderBottom_redgrey fighter_row">
        <div class="tblcol-rank tblhdr" style="left: 15px;">Rank</div>
        <div class="tblhdr" style="left: 10px;">EL</div>
        <div class="tblhdr" style="left: 75px;">AL</div>
        <div class="tblhdr epcolumn" style="left: 110px;">EP</div>
        <div class="tblhdr mpacolumn" style="left: 154px;">MS</div>
        <div class="tblhdr enccolumn" style="left: 200px;">ENC</div>
        <div class="tblhdr kpcolumn" style="left: 250px;">KP</div>
        <div class="tblhdr" style="left: 290px;">#AT</div>
        <div class="tblhdr tblhdr-actions" style="left: 320px;">Actions</div>
    </div>
    <div class="fighter_row" id="fighter_list">
        <% @fclasses.each do |fc| %>
            <%= render "admin/fighter/classrow", fc: fc  %>
        <% end %>
    </div>
    <div class="col-lg-12 fighter_row" id="addFigtherData">
        <%= form_for @fc, url: 'fighter/addClass', remote: true do |f| %>
            <div class="tbldata" style="left: -10px;"><%= f.text_field :rank, size: 20 %></div>
            <div class="tbldata" style="left: 3px;"><%= f.text_field :el, size: 2 %></div>
            <div class="tbldata" style="left: 41px;"><%= f.text_field :al, size: 2 %></div>
            <div class="tbldata" style="left: 59px;"><%= f.text_field :ep, size: 5 %></div>
            <div class="tbldata" style="left: 87px;"><%= f.text_field :ms, size: 2 %></div>
            <div class="tbldata" style="left: 117px;"><%= f.text_field :enc, size: 5 %></div>
            <div class="tbldata" style="left: 142px;"><%= f.text_field :kp, size: 2 %></div>
            <div class="tbldata" style="left: 168px;"><%= f.text_field :at, size: 1 %></div>
            <div class="tbldata" style="left: 191px;"><%= f.submit "+" %></div>
        <% end %>
    </div>
    <div class="clearleft">
        <button type="button" ng-click="backToTableIndex('fighter')">Back</button> to Table Index
    </div>
</div>
