<div id="groupListing">
  <%# @groups.each do |group| %>
    <div class="well well-sm" ng-repeat="group in grouplist track by group.id" id="wellforGroup{{group.id}}">
      <li>
        <div class="col-lg-11">
          {{group.name}}
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-sm groupDeleteBtn" ng-really-message="Confirm removal of Group:{{group.name}}" ng-really-click="removeGroup({{group.id}})">
            <span class="glyphicon glyphicon-remove"></span>
          </button>  
        </div>
      </li>
    </div>
  <%# end %>
</div>
