<div ng-controller="ironAdminTableCtrl">

    <h3>Ironhedge Admin Index of all tables</h3>
    <div class="col-lg-2">
        <table class="table table-stripped table-bordered">
            <caption>Character Classes</caption>
            <tbody>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getIronhedgeClassAdminTable('Fighter')">Fighter</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getIronhedgeClassAdminTable('Thief')">Thief</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getIronhedgeClassAdminTable('Magician')">Magician</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getIronhedgeClassAdminTable('Alchemist')">Alchemist</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getIronhedgeClassAdminTable('Priest')">Priest</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="text-center">
                        <button type="button" class="btn-getAdminClassTable" ng-click="getSavingRollsAdminTable();">Saving Rolls</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>