<div class="tbl_ironhedgeclass" id="magician_admintable" ng-controller="ironAdminTableCtrl"> 

    <div class="col-lg-12 tableCaption-map"><h3>Magician Classes</h3></div>
    <div class="row borderBottom_redgrey magician_row">
        <div class="tblcol-rank tblhdr" style="left: 25px">Rank</div>
        <div class="tblhdr" style="left:110px">EL</div>
        <div class="tblhdr" style="left:160px">AL</div>
        <div class="tblhdr epcolumn" style="left: 192px">EP</div>
        <div class="tblhdr mpacolumn" style="left: 222px">MI</div>
        <div class="tblhdr enccolumn" style="left: 258px">ENC</div>
        <div class="tblhdr kpcolumn" style="left: 296px">KP</div>
        <div class="tblhdr" style="left: 346px">DM</div>
        <div class="tblhdr" style="left: 369px">SW-1ST</div>
        <div class="tblhdr" style="left: 408px">2ND</div>
        <div class="tblhdr" style="left: 446px">3RD</div>
        <div class="tblhdr" style="left: 485px">4TH</div>
        <div class="tblhdr tblhdr-actions" style="left: 510px">Actions</div>
    </div>
    <div class="magician_row" id="magician_list">
        <% @mclasses.each do |mc| %>
            <%= render "admin/magician/classrow", mc: mc  %>
        <% end %>
    </div>
    <div class="magician_row" id="addMagicianData">
        <%= form_for @mcnew, url: '/utility/addMagicianClass', remote: true do |f| %>
        <div class="row">
            <div class="tbldata" style="left: 25px;"><%= f.text_field :rank, size: 20 %></div>
            <div class="tbldata" style="left: 64px;"><%= f.text_field :el, size: 2 %></div>
            <div class="tbldata" style="left: 87px;"><%= f.text_field :al, size: 2 %></div>
            <div class="tbldata epcolumn" style="left: 106px;"><%= f.text_field :ep, size: 5 %></div>
            <div class="tbldata mpacolumn" style="left: 135px;"><%= f.text_field :mi, size: 2 %></div>
            <div class="tbldata enccolumn" style="left: 164px;"><%= f.text_field :enc, size: 5 %></div>
            <div class="tbldata kpcolumn" style="left: 204px;"><%= f.text_field :kp, size: 2 %></div>
            <div class="tbldata" style="left: 256px;"><%= f.text_field :dm, size: 1 %></div>
            <div class="tbldata" style="left: 296px;"><%= f.text_field :q1, size: 1 %></div>
            <div class="tbldata" style="left: 327px;"><%= f.text_field :q2, size: 1 %></div>
            <div class="tbldata" style="left: 358px;"><%= f.text_field :q3, size: 1 %></div>
            <div class="tbldata" style="left: 390px;"><%= f.text_field :q4, size: 1 %></div>
            <div class="tbldata" style="left: 420px;"><%= f.submit "+" %></div>
        </div>
        <% end %>
    </div>
    <div class="clearleft">  
        <button type="button" ng-click="backToTableIndex('magician')">Back</button> to Table Index
    </div>
</div>