<div class="tbl_ironhedgeclass" id="priest_admintable" ng-controller="ironAdminTableCtrl">  

    <div class="tableCaption-map"><h3>Priest Classes</h3></div>
    <div class="row borderBottom_redgrey priest_row">
        <div class="tblcol-rank tblhdr" style="left: 25px">Rank</div>
        <div class="tblhdr" style="left: 50px">EL</div>
        <div class="tblhdr" style="left: 90px">AL</div>
        <div class="tblhdr epcolumn" style="left: 105px">EP</div>
        <div class="tblhdr mpacolumn" style="left: 140px">MI</div>
        <div class="tblhdr enccolumn" style="left: 170px">ENC</div>
        <div class="tblhdr kpcolumn" style="left: 200px">KP</div>
        <div class="tblhdr" style="left: 230px">DI</div>
        <div class="tblhdr" style="left: 255px">PW-1ST</div>
        <div class="tblhdr" style="left: 285px">2ND</div>
        <div class="tblhdr" style="left: 325px">3RD</div>
        <div class="tblhdr" style="left: 364px">4TH</div>
        <div class="tblhdr tblhdr-actions" style="left: 415px">Actions</div>
    </div>
    <div class="priest_row" id="priest_list">
        <% @pclasses.each do |pc| %>
            <%= render "admin/priest/classrow", pc: pc  %>
        <% end %>
    </div>
    <div class="priest_row" id="addPriestData">
        <%= form_for @pcnew, url: '/utility/addPriestClass', remote: true do |f| %>
            <div class="row">
                <div class="tbldata" style="left: 20px"><%= f.text_field :rank, size: 15 %></div>
                <div class="tbldata" style="left: 40px"><%= f.text_field :el, size: 2 %></div>
                <div class="tbldata" style="left: 55px"><%= f.text_field :al, size: 2 %></div>
                <div class="tbldata epcolumn" style="left:  60px"><%= f.text_field :ep, size: 5 %></div>
                <div class="tbldata mpacolumn" style="left:  90px"><%= f.text_field :mi, size: 2 %></div>
                <div class="tbldata enccolumn" style="left: 112px"><%= f.text_field :enc, size: 5 %></div>
                <div class="tbldata kpcolumn" style="left: 148px"><%= f.text_field :kp, size: 2 %></div>
                <div class="tbldata" style="left: 175px"><%= f.text_field :di, size: 1 %></div>
                <div class="tbldata" style="left: 212px"><%= f.text_field :q1, size: 1 %></div>
                <div class="tbldata" style="left: 238px"><%= f.text_field :q2, size: 1 %></div>
                <div class="tbldata" style="left: 270px"><%= f.text_field :q3, size: 1 %></div>
                <div class="tbldata" style="left: 299px"><%= f.text_field :q4, size: 1 %></div>
                <div class="tbldata" style="left: 350px"><%= f.submit "+" %></div>
            </div>
        <% end %>
    </div>
    <div id="back-t">  
        <button type="button" ng-click="backToTableIndex('priest')">Back</button> to Table Index
    </div>
</div>
