<div class="col-lg-12 tbl_ironhedgesavingroll" id="savingroll_admintable" ng-controller="ironAdminTableCtrl"> 
  <div class="col-lg-4 savingRolls-table">
    <h2 class="savingRolls-tblHeader">Saving Rolls:</h2>
    <div class="savingRolls-Line2Div">
      <span class="savingRolls-Line2Left">Victim's:</span>
      <span class="savingRolls-Line2Right">EL</span>
    </div>
    <div class="savingRolls-Line3Div" id="">
      <span class="savingRolls-Line3Left">Str-Int</span>
      <span class="savingRolls-Line3Right" style="margin-left: 60px">1</span>
      <span class="savingRolls-Line3Right" style="margin-left: 60px">2</span>
      <span class="savingRolls-Line3Right" style="margin-left: 60px">3</span>
      <span class="savingRolls-Line3Right" style="margin-left: 50px">4-5</span>
      <span class="savingRolls-Line3Right" style="margin-left: 50px">6</span>
    </div>

  </div>
  <div class="savingRolls-dataLine" ng-repeat="sr in savingRollList" ng-class-odd="'oddrow'" ng-controller="SavingRollCtrl">
    <span class="savingRolls-sid savingRolls-Data" style="margin-left: 32px">{{sr.sid}}</span>
    <span class="savingRolls-Data" style="margin-left: 72px">{{sr.c1}}</span>
    <span class="savingRolls-Data" style="margin-left: 56px">{{sr.c2}}</span>
    <span class="savingRolls-Data" style="margin-left: 56px">{{sr.c3}}</span>
    <span class="savingRolls-Data" style="margin-left: 60px">{{sr.c4}}</span>
    <span class="savingRolls-Data" style="margin-left: 56px">{{sr.c5}}</span>
    <span class="savingRolls-Data savingRolls-dataAction" style="margin-left: 60px">
      <%= link_to("edit", '#', remote: true, class: '', 'ng-click': "savingRollEditInline({{sr.id}})" ) %> / 
      <%= link_to("delete", '#', remote: true, 'ng-really-message': 'Confirm removal of row', 'ng-really-click': 'srDelete({{sr}})') %>
    </span>
  </div>

  <div class="savingRolls-addForm col-lg-4">
  <%= form_tag srAdd_path, remote: true do %>
    <div class="borderBottom_grey savingRolls-editRow" id="savingRolls-editRow">
        <div class="savingRolls-Input" style="left: 10px;">
          <%= text_field_tag "srAdd[sid]", nil, size: 5, 'ng-model': 'srrow.sid' %>    
        </div>
        
        <div class="savingRolls-Input" style="left: 68px;">
          <%= text_field_tag "srAdd[c1]", nil, size: 1, 'ng-model': 'srrow.c1' %>    
        </div>
        
        <div class="savingRolls-Input" style="left:108px;">
          <%= text_field_tag "srAdd[c2]", nil, size: 1, 'ng-model': 'srrow.c2' %>
        </div>
        
        <div class="savingRolls-Input" style="left:150px;">
          <%= text_field_tag "srAdd[c3]", nil, size: 1, 'ng-model': 'srrow.c3' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 196px;">
          <%= text_field_tag "srAdd[c4]", nil, size: 1, 'ng-model': 'srrow.c4' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 240px;">
          <%= text_field_tag "srAdd[c5]", nil, size: 1, 'ng-model': 'srrow.c5' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 295px;">
          <%= submit_tag "Add", { 'ng-click': 'srAdd(srrow)' } %>
        </div>
    </div>
  <% end %>
    
  </div>

  <div class="clearleft btn-back">
      <button type="button" ng-click="backToTableIndex('savingroll')">Back</button> to Table Index
  </div>
</div>