<div class="tbl_ironhedgeclass" id="thief_admintable" ng-controller="ironAdminTableCtrl">
<div class="col-lg-6 tableCaptionLeft"><h3>Thiefs Classes</h3></div>
<div class="col-lg-6 tableCaptionRight"><h3>Thief Functions</h3></div>

<div class="row borderBottom_redgrey thief_row">
<div class="tblhdr-rank tblcol-rank" style="left: 25px">Rank</div>
<div class="tblhdr" style="left: 37px">EL</div>
<div class="tblhdr" style="left: 84px">AL</div>
<div class="tblhdr epcolumn" style="left: 140px" id="epheader">EP</div>
<div class="tblhdr mpacolumn" style="left: 190px">MD</div>
<div class="tblhdr enccolumn" style="left: 243px">ENC</div>
<div class="tblhdr kpcolumn" style="left: 253px">KP</div>

<div class="tblhdr" style="left: 345px">CW</div>
<div class="tblhdr" style="left: 376px">PL</div>
<div class="tblhdr" style="left: 407px">NT</div>
<div class="tblhdr" style="left: 437px">PS</div>
<div class="tblhdr" style="left: 465px">MQ</div>
<div class="tblhdr" style="left: 492px">MU</div>
<div class="tblhdr" style="left: 518px">HN</div>
<div class="tblhdr tblhdr-actions" style="left: 570px">Actions</div>
</div>
<div class="thief_row" id="thief_list">
    <% @tclasses.each do |tc| %>
        <%= render 'admin/thief/classrow', tc: tc %>
    <% end %>

<div id="addThiefData" class="">
    <%= form_for @tcnew, url: '/utility/addThiefClass', remote: true do |f| %>
        <div class="tbldata" style="left: 5px"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 15px"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 41px"><%= f.text_field :al, size: 1 %></div>
        <div class="tbldata epcolumn" style="left: 66px"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left: 130px"><%= f.text_field :md, size: 2 %></div>
        <div class="tbldata enccolumn" id="ep_enc" style="left: 180px"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left: 226px"><%= f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left: 278px"><%= f.text_field :cw, size: 2 %></div>
        <div class="tbldata" style="left: 284px"><%= f.text_field :pl, size: 2 %></div>
        <div class="tbldata" style="left: 291px"><%= f.text_field :nt, size: 2 %></div>
        <div class="tbldata" style="left: 298px"><%= f.text_field :ps, size: 2 %></div>
        <div class="tbldata" style="left: 305px"><%= f.text_field :mq, size: 2 %></div>
        <div class="tbldata" style="left: 312px"><%= f.text_field :mu, size: 2 %></div>
        <div class="tbldata" style="left: 319px"><%= f.text_field :hn, size: 2 %></div>
        <div class="tbldata" style="left: 370px"><%= f.submit "+" %></div>
    <% end %>
</div> 
<div id="back-t">  
    <button type="button" ng-click="backToTableIndex('thief')">Back</button> to Table Index
</div>
</div> 
</div>