<% @users.each do |user| %>
  <div class="well well-sm">
    <li>
    <div class="col-lg-4">
      <%= link_to user.uname, "#", id: "uname#{user.id}", remote: true, data: { toggle: 'modal', target: '#edituserModal'} %>
    </div>
    <div class="col-lg-4">
      <span id="email<%= user.id %>"><%= user.email %></span>
    </div>
    <div class="col-lg-4 text-right">
      delete
    </div>
    </li>
  </div>
<% end %>
<!-- Modal -->
<div id="edituserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $('')
</script>