<div ng-controller="adminUserListCtrl">

  <div class="well well-sm" ng-repeat="user in userlist track by user.id" id="wellforUser{{user.id}}">
  <li>
      <div class="col-lg-4">
        <%= link_to "{{user.uname}}", "utility/showEditUser/{{user.id}}", id: "uname{{user.id}}", remote: true %>
      </div>
      <div class="col-lg-4">
        <span id="email{{user.id}}">{{user.email}}</span>
      </div>
      <div class="col-lg-4 text-right">
        <button type="button" ng-really-message="Confirm removal of {{user.uname}}" ng-really-click="removeUser({{user.id}})" >
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </li>
  </div>
</div>