<%= link_to("Back", { controller: 'admin', action: 'index' }, class: 'btn btn-primary btn-xs' ) %> to Table Index
    <div class="col-lg-8">
        <table class="table table-striped table-border">
            <caption>Fighter Classes</caption>
            <thead>
                <tr>
                    <th id="fighter-rank-header">Rank</th>
                    <th id="fighter-el-header">EL</th>
                    <th id="fighter-al-header">AL</th>
                    <th id="fighter-ep-header">EP</th>
                    <th id="fighter-ms-header">MS</th>
                    <th id="fighter-enc-header">ENC</th>
                    <th id="fighter-kp-header">KP</th>
                    <th>#AT</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="fighter_list">
                <% @fclasses.each do |f| %>
                <tr id="<%= f.el %>">
                    <td><%= f.rank %></td>
                    <td><%= f.el %></td>
                    <td><%= f.al %></td>
                    <td><%= f.ep %></td>
                    <td><%= f.ms %></td>
                    <td><%= f.enc %></td>
                    <td><%= f.kp %></td>
                    <td><%= f.at %></td>
                    <td><%= link_to "Edit", "/utility/editFighterClass/#{f.el}", remote: true %></td>
                </tr>
                <% end %>
            </tbody>
        </table>  

        <table class="table">
            <tbody>
                <tr>
                    <%= form_for @fc, url: '/utility/addFighterClass', remote: true do |f| -%>
                        <td><%= f.text_field :rank, size: 15 %></td>
                        <td><%= f.text_field :el, size: 2 %></td>
                        <td><%= f.text_field :al, size: 2 %></td>
                        <td><%= f.text_field :ep, size: 5 %></td>
                        <td><%= f.text_field :ms, size: 2 %></td>
                        <td><%= f.text_field :enc, size: 5 %></td>
                        <td><%= f.text_field :kp, size: 2 %></td>
                        <td><%= f.text_field :at, size: 1 %></td>
                        <td><%= f.submit "+" %></td>
                    <% end -%>
                </tr>
            </tbody>
        </table>

    </div>
