<%= content_for :moreCSS do %>
  <%= stylesheet_link_tag "admin" %>
<% end %>

<%= content_for :moreJS do %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
<% end %>

<div ng-app="adminModule" >
  <div ng-controller="adminPanelController" id="adminCtrlPanel">
    <%= render 'admin_sidebar_nav' %>
    <div class="showred" id="admin-usergroup-panel" ng-show="PanelCtrl['main'] == 'usergroup'">
      <div class="col-lg-8 userIndexPanel">
        <ul id="userIndex">
          <div class="text-center listHeading">List of Users</div>
          <%= render "admin/userlist", collection: @users %>
        </ul>
      </div>
      <div class="col-lg-4 groupIndexPanel" ng-controller="adminGroupsCtrl">
        <ul id="groupIndex">
          <div class="text-center listHeading">List of Groups</div>
          <%# form_tag(addNewGroup_path, remote: true, authenticity_token: true, as: :js, class: "addNewGroupForm") do %>
          <%# form_tag(controller: nil, action: nil, remote: true, authenticity_token: true, 'ng-submit': "addNewGroup()", class: "addNewGroupForm") do %>
          <form ng-submit="addNewGroup()" class="addNewGroupForm">  
            <%# hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="form-group">
              <div class="col-lg-10">
                <%= text_field_tag "newGroupName", nil, { placeholder: "New Group Name", class: "form-control" } %>
              </div>
              <div class="col-lg-2">
                <button type="submit" class="btn btn-default addNewGroupBtn">Add</button>
              </div>
            </div>
          </form>
          <%# end %>
          <%= render "admin/grouplist", collection: @groups %>
        </ul>
      </div>
    </div>

    <div class="showgreen" id="admin-ironhedge-panel" ng-show="PanelCtrl['main'] == 'ironhedge'">
      <div id="ironhedgeTableIndex" ng-show="PanelCtrl['iron'] == 'index'">
        <%= render 'admin/hedgetables.html' %>
      </div>
    </div>
  </div> <!-- ng-controller panel-controller -->
</div> <!-- ng-app -->