<% @raceList.each do |race| %>
  <div class="creature_panel_head" id="ul_<%= race_slug(race) %>">
    <%= race %>
  </div>
    <ul class="klass_panel" id="klass_panel_<%= race_slug(race) %>">
      
      <% @creatures[race.to_sym].each do |klass| %>
        <li class="klass_name" data-class="<%= klass[0] %>">
          <%= klass[0] %>
        </li>
      <% end %>
    
    </ul>
  
<% end %>
