<div id="editUserForm" class="col-lg-12">
  <%= form_for @user, url: updateUser_path(params[:id]), remote: true do |f| %>
    <div class="col-lg-5">
      <div class="input-group">
        <%= f.label :uname, "User Name", class: "input-group-addon" %> 
        <%= f.text_field :uname, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-lg-5">
      <div class="input-group">
        <%= f.label :email, class: "input-group-addon" %> 
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    
    <div class="col-lg-2">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div class="col-lg-4" id="usergrouplist_container">
    <div class="col-lg-12 grouplist-header">
      <h3>Groups user is in</h3>
    </div>
    <div id="usersgroupslist" class="editUserGroupList">
      <ul class="list-group" id="usergrouplist">
        <%= render 'usergrouplist' %>
      </ul>
    </div>
  </div>  

  <div class="col-lg-4" id="othergrouplist_container">
    <div class="col-lg-12 grouplist-header">
      <h3>Other available groups</h3>
    </div>
      <div id="othergroupslist" class="editUserGroupList">
        <ul class="list-group" id="othergrouplist">
          <%= render 'othergrouplist' %>
        </ul>
      </div>
  </div>

</div>

