<%= form_for :user, url: login_path, html: { id: "form_login" } do |f| %>
    <%= f.text_field :uname, placeholder: "User Name", class: "userLogin" %>
    <%= f.password_field :password, placeholder: "Password", class: "userLogin" %>
    <%= f.submit "Go", class: "userLogin", id: "submitLogin" %> 
<% end %>