<% if @otherGroups.present? %>
  <% for group in @otherGroups %>
    <li class="list-group-item">
      <%= form_tag(addGroupToUser_path, remote: true, authenticity_token: true, as: :js) do %>
        <%= text_field_tag "userid", "#{@user.id}", { type: "hidden" } %>
        <%= text_field_tag "gid", "#{getGroupID(group)}", { type: "hidden" } %>
        <button type="submit" class="btn btn-default addGroupToUserBtn"><%= group %></button>
      <% end %>
    </li>
  <% end %>
<% else %>
  User is in all groups
<% end %>