<% if @user.groups.present? %>
  <% for group in @user.groups %>
    <li class="list-group-item">
        <%= form_tag(removeGroupFromUser_path, remote: true, authenticity_token: true, as: :js) do %>
            <%= text_field_tag "userid", "#{@user.id}", { type: "hidden" } %>
            <%= text_field_tag "gid", "#{getGroupID(group.name)}", { type: "hidden" } %>
            <button type="submit" class="btn btn-default addGroupToUserBtn"><%= group.name %></button>
        <% end %>
    </li>
  <% end %>
<% else %>
  
<% end %>