<% if @floop %>
 <div class="row borderBottom_grey <%= cycle('oddrow', 'evenrow') %>" id="row<%= tc.el %>">
<% else %>
 <div class="row borderBottom_grey <%= @stripe %>" id="row<%= tc.el %>">
<% end %>
    <div class="tblhdr tblhdrrow" style="left: 25px;"><%= tc.rank %></div>
    <div class="tbldata" style="left: 37px;"><%= tc.el %></div>
    <div class="tbldata" style="left: 90px;"><%= tc.al %></div>
    <div class="tbldata epcolumn" id="ep_enc" style="left: 128px;"><%= tc.ep %></div>
    <div class="tbldata mpacolumn" style="left: 200px;"><%= tc.md %></div>
    <div class="tbldata enccolumn" id="ep_enc" style="left: 250px;"><%= tc.enc %></div>
    <div class="tbldata kpcolumn" style="left: 300px;"><%= tc.kp %></div>
    <div class="tbldata" style="left: 350px;"><%= tc.cw %></div>
    <div class="tbldata" style="left: 386px;"><%= tc.pl %></div>
    <div class="tbldata" style="left: 419px;"><%= tc.nt %></div>
    <div class="tbldata" style="left: 451px;"><%= tc.ps %></div>
    <div class="tbldata" style="left: 484px;"><%= tc.mq %></div>
    <div class="tbldata" style="left: 518px;"><%= tc.mu %></div>
    <div class="tbldata" style="left: 549px;"><%= tc.hn %></div>

    <div class="tbldata" style="left: 622px;">
        <%= link_to "Edit", "/utility/editThiefClass/#{tc.el}", remote: true %> / 
        <%= link_to("Delete", "#", remote: true, class: '', 'ng-really-message': "Confirm removal of #{tc.rank}", 'ng-really-click': "deleteIronClass('Thief', '#{tc.rank}')" ) %>    
    </div>
</div>