<%= form_for tc, url: "/utility/updateThiefClass/#{tc.el}", remote: true do |f| %>
    <div class="row borderBottom_grey <%= stripe %>" id="editrow">
        <div class="tblhdr" style="left: 25px;"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 37px;"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 61px;"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata epcolumn" style="left: 74px;"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left: 147px;"><%= f.text_field :md, size: 2 %></div>
        <div class="tbldata enccolumn" style="left: 197px;"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left: 253px;"><%= f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left: 302px;"><%= f.text_field :cw, size: 2 %></div>
        <div class="tbldata" style="left: 308px;"><%= f.text_field :pl, size: 2 %></div>
        <div class="tbldata" style="left: 315px;"><%= f.text_field :nt, size: 2 %></div>
        <div class="tbldata" style="left: 323px;"><%= f.text_field :ps, size: 2 %></div>
        <div class="tbldata" style="left: 330px;"><%= f.text_field :mq, size: 2 %></div>
        <div class="tbldata" style="left: 338px;"><%= f.text_field :mu, size: 2 %></div>
        <div class="tbldata" style="left: 344px;"><%= f.text_field :hn, size: 2 %></div>
        <div class="tbldata" style="left: 380px;"><%= f.submit "Update" %></div>
    </div>
<% end %>