<% @tc = ThiefClass.find_by_el(params[:id]) %>
//var strp = "<%= @stripe %>";
var frm = '<%= j render "admin/thief/editInlineForm", tc: @tc, stripe: @stripe %>';
$('#row<%= params[:id] %>').hide().after(frm);
