// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colorscheme';
@import 'myVariables';

div.userIndexPanel ul, 
div.groupIndexPanel ul {
    padding-left: 0;
}

form.edit_user {
    height: 100px;
}

form.addNewGroupForm {
    height: 40px;
}

input[type="text"]#fighter_class_ep,
input[type="text"]#thief_class_ep,
input[type="text"]#magician_class_ep,
input[type="text"]#alchemist_class_ep,
input[type="text"]#priest_class_ep {
    text-align: right;
}



#addFigtherData,
#addThiefData {
    clear: left;
}

#addFigtherData,
#addThiefData,
#addMagicianData,
#addAlchemistData,
#addPriestData {
    margin-bottom: 20px;
}

#admin-usergroup-panel,
#admin-ironhedge-panel {
    position: absolute;
    top: 55px;
    bottom: 5px;
    left: $admin-sidbar-nav-width +5;
    right: 5px;
    overflow-y: scroll;

}

#back-t {
    clear: left;
    margin-top: 20px;
}

#editrow {
    margin-left: -22px;
}

#editUserForm {
    margin-top: 40px;
}

#ep_enc {
    width: 50px;
}

#epheader {
    text-align: center;
}

#fighter_class_rank {
    width: 130px;
}

#srAdd_sid,
#srAdd_c1,
#srAdd_c2,
#srAdd_c3,
#srAdd_c4,
#srAdd_c5 {
    text-align: center;
}

#tblhdr-fc1 {
    left: 0px;
}

#tblhdr-fc2 {
    left: 100px;
}

//input for theif class
#thief_class_rank {

}

#useredit_modalbody {
    height: 100px;
}

.admin-nav {
    float: left;
    width: 300px;
    height: 600px;
}

.clearleft {
    clear: left;
}


.borderBottom_redgrey {
    border-bottom: 1px solid $redgrey;
}

.borderBottom_grey {
    border-bottom: 1px solid $grey;
}

.btn-back {
    display: block;
    padding-top: 20px;
    clear: left;
}

.btn-getAdminClassTable {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


.cyanshadow:hover {
    text-shadow: 0 0 18px $lightcyan;
}

.enccolumn,
.kpcolumn {
    text-align: center;
}

.enccolumn {
    width: 40px;
}

.epcolumn {
    width: 50px;
    text-align: right;
}

.editUserGroupList {
    display: block;
    float: left;
    width: 100%;
}

.greenshadow:hover {
    text-shadow: 0 0 10px $yellowishgreen;
}

.groupDeleteBtn {
    margin-top: -5px;
    background: transparent;
    border-color: $drkgrey;

    &:hover {
        background-color: $ltgrey;
        border-radius: 50%;
        color: red;
    }
}

.grouplist-header {
    height: 36px;
    border: 1px solid black;
    display: block;
    text-align: center;
    border-radius: 8px 8px 0 0; 
    h3 {
        margin: 0;
        font-size: 25px;
    }
}

.input-group {
    width: 100%;
}

.kpcolumn {
    width: 20px;
}

.leftadjust-20 {
    margin-left: -20px;
}

.listHeading {
    font-weight: bold;
    font-size: 20px;
}

button.addGroupToUserBtn {
    min-width: 200px;
    font-size: 1.3em;

    &:hover {
        text-decoration: none;
        text-shadow: 2px 2px 2px black;
        font-size: 1.3em;
        font-weight: bold;
        color: $red;
        background-color: white;
    }
}

.list-group-item {
    &:hover {
        background-color: $ltgrey;
    }
}

.nav-admin {
    display: block;
    width: 250px;
    background-color: $drkgrey;
}

.oddrow {
    background-color: $ltgrey;
}

.nav > li > a.sidebar-nav-active {
    color: white;
    font-weight: bold;
}

.mpacolumn {
    width: 30px;
    text-align: center;
}

.row {
    clear: left;
}

.tblhdr,
.tblhdrrow,
.tbldata,
.tblhdr-rank,
.tblhdr-actions {
    display: inline-block; 
    float: left;
    position: relative;
    padding: 6px 0;
}

.tblhdr {
    color: $cyangrey;
    font-weight: bold;
}

.tblhdr-actions {
    color: $redgrey;

}

.tblcol-rank {
    width: 150px;
    color: $redgrey;
    font-weight: bold;
}

.tblhdrrow {
    width: 150px;
    color: $cyangrey;
}

.tableCaption {
    margin-left: -20px;
    color: $cyangrey;

    h3 {
        color: $cyangrey;
    }
}

.tableCaption-map {

    h3 {
        color: $cyangrey;
    }
}

.tableCaption {
    color: $redgrey;
    font-weight: bold;
}

.tbldata {
    color: $drkgrey;
}

.tblhdr {
    float: left;
}

.tbldata {
    padding: 6px 0px;
}

.tblhdr, 
.tbldata {
    line-height: 2;
}

.tbl_ironhedgeclass {
    margin-top: 20px;
}


.tableCaptionLeft, .tableCaptionRight {
    color: $redgrey;
    font-weight: bold;
    float: left;
}

.tableCaptionLeft {
    width: 37%;
}

.tableCaptionRight {
    width: 63%;
}
//=========================     Saving Rolls 
.savingRolls-addForm {
    height: 35px;
    margin-left: $savingRoll-margin-left;
    padding-top: 10px;
    float: left;
    clear: left;
}

.savingRolls-dataLine {
    float: left;
    display: block;
    color: $drkgrey;
    clear: left;
    margin-left: $savingRoll-margin-left;
}

.savingRolls-Data {
    font-size: 1.4em;
    width: 20px;
    display: block;
    float: left;
    text-align: center;
    padding: 4px 0;
}

.savingRolls-dataAction {
    width: 100px;
    padding: 4px 0;
}

.savingRolls-editRow {
    width: 95%;
    height: 35px;
    //margin-left: -30px;
}

.savingRolls-Input {
    float: left;
    display: inline-block;
    position: relative;
    text-align: center;
}

.savingRolls-Line2Left,
.savingRolls-Line2Right,
.savingRolls-Line3Left,
.savingRolls-Line3Right {
    color: $redgrey;
    display: block;
    float: left;
    font-weight: bold;
    font-size: 2em;
}

.savingRolls-Line2Left {
    width: 20%;
    border-bottom: 2px solid $redgrey;
}
.savingRolls-Line2Right {
    border-bottom: 2px solid $redgrey;
    width: 80%;
    text-align: center;
}

.savingRolls-Line3Right {
    color: $cyangrey;
}
.savingRolls-Line3Right-action {
    font-size: 1em;
    color: $redgrey;
    float: left;
    padding-top: 10px;
    text-align: center;
}

.savingRolls-Line2Div,
.savingRolls-Line3Div {
    width: 100%;
    float: left;
}
.savingRolls-Line2Div {
    width: 95%;
}

.savingRolls-sid {
    color: $cyangrey;
    font-weight: bold;
    width: 50px;
    display: block;
    float: left;
    padding: 4px 0;
}

.savingRolls-table {
    margin-left: $savingRoll-margin-left;
}

.savingRolls-tblHeader {
    color: $cyangrey;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
}



.showred {
    border: 1px solid red;
}

.showblue {
    border: 1px solid blue;
}

.showgreen {
    border: 1px solid green;
}

.userIndexPanel {
    border-right: 3px solid $redgrey;
    height: 100%;
    overflow-y: scroll;
}

.fighter_row,
.thief_row,
.magician_row,
.achemist_row,
.priest_row {
    display: block;
    float: left;
    width: 1170px;
}

.fighter_row {
    padding-left: 0;
    padding-right: 20px;
}

.well {
    margin-bottom: 5px;
}




//============================================  css for admin sibebar nav panel
body,html{
        height: 100%;
    }

    /* remove outer padding */
    .main .row{
        padding: 0px;
        margin: 0px;
    }

    /*Remove rounded coners*/

    nav.sidebar.navbar {
        border-radius: 0px;
        position: fixed;
        left: 0;
        top: 52px;
    }

    nav.sidebar, .main{
        -webkit-transition: margin 200ms ease-out;
        -moz-transition: margin 200ms ease-out;
        -o-transition: margin 200ms ease-out;
        transition: margin 200ms ease-out;
    }

    .navbar-header h3{
        color: yellow;
    }

    /* Add gap to nav and right windows.*/
    .main{
        padding: 10px 10px 0 10px;
    }

    /* .....NavBar: Icon only with coloring/layout.....*/

    /*small/medium side display*/
    @media (min-width: 768px) {

        /*Allow main to be next to Nav*/
        .main{
            position: absolute;
            width: calc(100% - 40px); /*keeps 100% minus nav size*/
            margin-left: 40px;
            float: right;
        }

        /*lets nav bar to be showed on mouseover*/
        nav.sidebar:hover + .main{
            margin-left: 200px;
        }

        /*Center Brand*/
        nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
        }
        /*Center Brand*/
        nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

        /*Center Icons*/
        nav.sidebar a{
            padding-right: 13px;
        }

        /*adds border top to first nav box */
        nav.sidebar .navbar-nav > li:first-child{
            border-top: 1px #e5e5e5 solid;
        }

        /*adds border to bottom nav boxes*/
        nav.sidebar .navbar-nav > li{
            border-bottom: 1px #e5e5e5 solid;
        }

        /* Colors/style dropdown box*/
        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: fixed;
            float: none;
            width: auto;
            margin-top: 60;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        /*allows nav box to use 100% width*/
        nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
            padding: 0 0px 0 0px;
        }

        /*colors dropdown box text */
        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #777;
        }

        /*gives sidebar width/height*/
        nav.sidebar{
            width: $admin-sidbar-nav-width;
            //height: 100%;
            margin-left: -160px;
            float: left;
            z-index: 8000;
            margin-bottom: 0px;
        }

        /*give sidebar 100% width;*/
        nav.sidebar li {
            width: 100%;
        }

        /* Move nav to full on mouse over*/
        nav.sidebar:hover{
            margin-left: 0px;
        }
        /*for hiden things when navbar hidden*/
        .forAnimate{
            opacity: 0;
        }
    }

    /* .....NavBar: Fully showing nav bar..... */

    @media (min-width: 1330px) {

        /*Allow main to be next to Nav*/
        .main{
            width: calc(100% - 200px); /*keeps 100% minus nav size*/
            margin-left: $admin-sidbar-nav-width;
        }

        /*Show all nav*/
        nav.sidebar{
            margin-left: 0px;
            float: left;
        }
        /*Show hidden items on nav*/
        nav.sidebar .forAnimate{
            opacity: 1;
        }
    }

    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #CCC;

        background-color: transparent;
    }

    nav:hover .forAnimate{
        opacity: 1;
    }
    section{
        padding-left: 15px;
    }
