$red: #EE0000;
$redgrey: #BD3131;

$cyangrey: #47727E;



$grey: #7B7B7B;
$ltgrey: $grey * 1.8;
$drkgrey: $grey * 0.5;

$white: #FFF;

$yellowishgreen: #65FF00;
$gold: #FFDC00;

$lightcyan: #00CEFF;

$bgcolor: $white;