@import "colorscheme";
@import "myVariables";
@import "global_classes";
@import "user_xs";
@import "user_sm";
@import "user_md";
@import "user_lg";

h1 {
  font-size: 42pt;
}

body {
  padding-top: 60px;
  background-color: $bgcolor;
  position: relative;
}

ul.nav.nav-tabs li a,
ul.nav.nav-tabs li span {
  float: left;
  margin-top: 15px;
  height: 35px;
  padding: 0 10px;
  
  color: white;
  background-color: transparent;
}

ul.nav.nav-tabs li.active {
  background-color: black;
}

input.userLogin {
  display: inline-block;
  float: left;
}


ul.dropdown-menu li {
  color: black;
}


