// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colorscheme';
@import 'myVariables';

h1 {
  font-size: 42pt;
}

body {
  padding-top: 50px;
  background-color: $bgcolor;
}

ul.nav.nav-tabs li a,
ul.nav.nav-tabs li span {
    float: left;
    margin-top: 15px;
    height: 35px;
    padding: 0 10px;

    color: white;
    background-color: transparent;
}

ul.nav.nav-tabs li.active {
  background-color: black;
}

input.userLogin {
    display: inline-block;
    float: left;
}

#canvas1 {
  width: 100vw;
  height: 50vh;
  border: 1px solid grey;
}

#form_login {
    width: 500px;
    margin-top: 15px;
}

#guest {
  display: block;
  float: right;
  padding-top: 15px;
  color: white;
}

#proceedlogin {
  color: cyan;
  font-weight: bold;
  margin-top: 15px;
}

#submitLogin {
    margin-top: 1px;
}

#topNavBar {
  border: 0;
}

.borderright {
    border-right: 2px solid $grey;
}

.clearnavbar {
  margin-top: 0;
}

.diamondcheckeredbanner {
  display: block;
  width: 100%;
  height: 32px;
  background-image: image-url('diamondchecker01.png');
  background-repeat: repeat-x;

}

.dropdown {
  padding-top: 15px;

  a, a:visited, a:focus {
    text-decoration: none;
    color: cyan;
    font-weight: bold;
    margin-top: 15px;
  }

  a:hover {
    text-decoration: none;
    text-shadow: 0 0 5px white;
    color: cyan;
  }
}

.flexInputItem {
  flex: 1;
}

.formbox {
  margin-top: 20px;
}

.input-group-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 10px;
  width: auto;
}

.labelTab {
  margin: 0;
}


.navbar-nav {
    vertical-align: middle;
}

.panel-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rotatePanel {
  width: 150px;
  border: 2px ridge grey;
  padding: 10px;
}

.show {
  border: 1px solid blue;
}

ul.dropdown-menu li {
  color: black;
}