@media only screen and (min-width : 1200px) {
  .blackText {
    color: black;
  }

  .greyText {
    color: #666666;
  }
  
  #creatureFilterPanel {
    width: 200px;
    overflow-y: auto;
  }
  

  
  .creature_panel_head {
    color: white;
    background-color: black;
    font-size: 1.8rem;
    border-bottom: 2px solid gray;
    padding-left: 10px;
  }

  .diceBtn {
    width: 120px;
    height: 30px;
    margin-bottom: 2px;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    border-left: 2px solid #343434;
    border-right: 2px solid #343434;
    background: linear-gradient(grey 0, #ddd 15%, #ddd 85%, black 100%);
  }

  #diceBtnPanel {
    background-color: #666666;
    width: 130px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1 0 130px;
  }

  .diceCol {
    margin-left: 5px;
    margin-right: 5px;

  }

  .diceColItem {
    margin: 3px 2px;
  }

  #diceInputStr {
    width: 120px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 18px;
  }

  .dice_results_col {
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }

  #dicePanel {
    background-color: #d1d0b9;
    height: 100vh;
    width: 90%;
  }

  #diceResultsPanel {
    background-color: #a5bac1;
    width: 100%;
    max-height: 95%;
  }

  #diceResultsStatus {
    font-size: 3rem;
    background-color: #6591a3;
    height: 50px;
  }

  #diceResultsView {
    background-color: #668b76;
    overflow-x: auto;
    flex: 1 0;
    flex-wrap: nowrap;
  }

  #diceResultsCol_template {
    font-size: 3rem;
    max-height: 98%;
  }

  #diceResultsItem_template {
    height: 40px;
    min-width: 140px;
  }

  .jcount_row {
    border-left: 1px solid white;
    border-right: 1px dotted black;
  }

  .jcount_row:last-child {
    border-bottom: 1px solid white;
  }

  #jewel_count {
    text-align: right;
    padding-right: 10px;
  }

  #jewel_value {
    text-align: center;
    border-right: 1px dotted black;

    &:last-child {
      border-bottom: 1px solid white;
    }
  }

  #jewelHeader_count,
  #jewelHeader_value,
  #jewelHeader_types {
    padding: 5px 10px;
    background: #2a2a2a;
    color: navajowhite;
    border: 1px solid white;
    border-bottom: 1px solid whitesmoke;
  }

  #jewelHeader_count {
    border-top-left-radius: 20px;
  }

  #jewelHeader_types {
    border-top-right-radius: 20px;
  }


  #jewelInput {
    margin: 5px;
    text-align: center;
  }

  #jewelInputPanel {
    width: 150px;
    background: #686868;
  }

  .jewel_results_item {
    font-size: 3rem;
  }

  .jtype_row {
    border-right: 1px solid white;
    padding-left: 10px;

    &:last-child {
      border-bottom: 1px solid white;
    }
  }

  .jtype_cell,
  .jewelValue,
  .jewelCount {
    margin-right: 10px;
  }

  .jtype_img {
    margin: auto;
    max-width: 16px;
    //flex: 0 1 16px;
  }

  .jewel_value {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .klass_panel {
    padding: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  
  li.klass_name {
    list-style-type: none;
    padding-left: 20px;
  }





  #lblJewelInput {
    font-size: 1.7rem;
    text-align: center;
    color: #b3b3b3;
  }

  #mainNavPanel {
    width: 120px;
    background-color: black;
  }

  #mainPanel {
    position: absolute;
    background-color: #899aa0;
    flex: 1;
    width: 100vw;
    top: 0;
    left: 0;
  }

  .navListTop,
  .navListBottom {
    list-style: none;
    padding-left: 10px;
    flex: 1;
  }

  .navListTop {
    background-color: #899aa0;
  }
  
  .navListBottom {
    background-color: #7a7ea0;
  }

  .navItem {
    font-size: 2rem;

    &:hover {
      text-shadow: 0 0 10px #00f6ff;
      color: #cdf1ff;
    }
  }

  .j_stripe1 {
    background-color: rgba(255,243,2,0.10);
  }

  .j_stripe2 {
    background-color: rgba(0,0,0,0.10);
  }

}

@media only screen and (min-width : 1790px) {

}

@media only screen and (min-width : 1900px) {



}