<% if @floop %>
 <div class="row borderBottom_grey <%= cycle('oddrow', 'evenrow') %> " id="row<%= ac.el %>">
<% else %>
 <div class="row borderBottom_grey <%= @stripe %>" id="row<%= ac.el %>">
<% end %>
    <div class="tblhdr tblhdrrow" style="left: 25px"><%= ac.rank %></div>
    <div class="tbldata" style="left: 62px"><%= ac.el %></div>
    <div class="tbldata" style="left:124px"><%= ac.al %></div>
    <div class="tbldata epcolumn" style="left:145px"><%= ac.ep %></div>
    <div class="tbldata mpacolumn" style="left:192px"><%= ac.mi %></div>
    <div class="tbldata enccolumn" style="left:224px"><%= ac.enc %></div>
    <div class="tbldata kpcolumn" style="left:265px"><%= ac.kp %></div>
    <div class="tbldata" style="left:305px"><%= ac.ip %></div>
    <div class="tbldata" style="left:375px"><%= ac.q1 %></div>
    <div class="tbldata" style="left:434px"><%= ac.q2 or '--'%></div>
    <div class="tbldata" style="left:491px"><%= ac.q3 or '--'%></div>
    <div class="tbldata" style="left:549px"><%= ac.q4 or '--'%></div>
    <div class="tbldata" style="left:595px">
        <%= link_to "Edit", "/utility/editAlchemistClass/#{ac.el}", remote: true %> / 
        <%= link_to("Delete", "#", remote: true, class: '', 'ng-really-message': "Confirm removal of #{ac.rank}", 'ng-really-click': "deleteIronClass('Alchemist', '#{ac.rank}')" ) %>
    </div>
</div>