<%= form_for ac, url: "/utility/updateAlchemistClass/#{ac.el}", remote: true do |f| %>
    <div class="row borderBottom_grey <%= stripe %>" id="editrow">
        <div class="tbldata" style="left: 10px"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 62px"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 95px"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata epcolumn" style="left: 99px"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left:138px"><%= f.text_field :mi, size: 2 %></div>
        <div class="tbldata enccolumn" style="left:165px"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left:207px"><%=  f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left:246px"><%= f.text_field :ip, size: 2 %></div>
        <div class="tbldata" style="left:285px"><%= f.text_field :q1, size: 2 %></div>
        <div class="tbldata" style="left:311px"><%= f.text_field :q2, size: 2 %></div>
        <div class="tbldata" style="left:335px"><%= f.text_field :q3, size: 2 %></div>
        <div class="tbldata" style="left:360px"><%= f.text_field :q4, size: 2 %></div>
        <div class="tbldata" style="left:373px"><%= f.submit "Update" %></div>
    </div>
<% end %>