<%= form_tag srEdit_path, remote: true do %>
    <div class="borderBottom_grey savingRolls-editRow" id="savingRolls-editRow">
        <div class="savingRolls-Input" style="left: 10px;">
          <%= text_field_tag "srEdit[sid]", nil, size: 5, 'ng-model': 'srrow.sid' %>    
        </div>
        
        <div class="savingRolls-Input" style="left: 68px;">
          <%= text_field_tag "srEdit[c1]", nil, size: 1, 'ng-model': 'srrow.c1' %>    
        </div>
        
        <div class="savingRolls-Input" style="left:108px;">
          <%= text_field_tag "srEdit[c2]", nil, size: 1, 'ng-model': 'srrow.c2' %>
        </div>
        
        <div class="savingRolls-Input" style="left:150px;">
          <%= text_field_tag "srEdit[c3]", nil, size: 1, 'ng-model': 'srrow.c3' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 196px;">
          <%= text_field_tag "srEdit[c4]", nil, size: 1, 'ng-model': 'srrow.c4' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 240px;">
          <%= text_field_tag "srEdit[c5]", nil, size: 1, 'ng-model': 'srrow.c5' %>
        </div>
        
        <div class="savingRolls-Input" style="left: 295px;">
          <%= submit_tag "Add", { 'ng-click': 'srEdit(srrow)' } %>
        </div>
    </div>
  <% end %>