<% if @floop %>
 <div class="row borderBottom_grey <%= cycle('oddrow', 'evenrow') %> " id="row<%= fc.el %>">
<% else %>
 <div class="row borderBottom_grey <%= @stripe %>" id="row<%= fc.el %>">
<% end %>
    <div class="tblhdr tblhdrrow" style="left: 15px;"><%= fc.rank %></div>
    <div class="tbldata" style="left: 10px;"><%= fc.el %></div>
    <div class="tbldata" style="left: 80px;"><%= fc.al %></div>
    <div class="tbldata epcolumn" style="left: 120px;"><%= fc.ep %></div>
    <div class="tbldata mpacolumn" style="left: 165px;"><%= fc.ms %></div>
    <div class="tbldata enccolumn" style="left: 212px;"><%= fc.enc %></div>
    <div class="tbldata kpcolumn" style="left: 261px;"><%= fc.kp %></div>
    <div class="tbldata" style="left: 311px;"><%= fc.at %></div>
    <div class="tbldata" style="left: 361px;">
      <%= link_to "Edit", "/utility/editFighterClass/#{fc.el}", remote: true %> / 
      <%= link_to("Delete", "#", remote: true, class: '', 'ng-really-message': "Confirm removal of #{fc.rank}", 'ng-really-click': "deleteIronClass('Fighter', '#{fc.rank}')" ) %>  
    </div>
</div>
