<%= form_for @fc, url: "/utility/updateFighterClass/#{@fc.el}", remote: true do |f| %>
    <div class="row borderBottom_grey <%= @stripe %>" id="editrow">
        <div class="tblhdr" style="left: 15px;"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 32px;"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 66px;"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata" style="left: 78px;"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata" style="left: 112px;"><%= f.text_field :ms, size: 2 %></div>
        <div class="tbldata" style="left: 141px;"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata" style="left: 166px;"><%= f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left: 190px;"><%= f.text_field :at, size: 1 %></div>
        <div class="tbldata" style="left: 206px;"><%= f.submit "Update" %></div>
    </div>
<% end %>