<% @fc = FighterClass.find_by_el(params[:id]) %>
//var strp = "<%= @stripe %>";
var frm = '<%= j render "admin/fighter/editInlineForm", fc: @fc, stripe: @stripe %>';
$('#row<%= params[:id] %>').hide().after(frm);
