<% if @floop %>
 <div class="row borderBottom_grey <%= cycle('oddrow', 'evenrow') %> " id="row<%= pc.el %>">
<% else %>
 <div class="row borderBottom_grey <%= @stripe %>" id="row<%= pc.el %>">
<% end %>
    <div class="tblhdr tblhdrrow" style="left: 25px"><%= pc.rank %></div>
    <div class="tbldata" style="left: 50px"><%= pc.el %></div>
    <div class="tbldata" style="left: 95px"><%= pc.al %></div>
    <div class="tbldata epcolumn" style="left: 120px"><%= pc.ep %></div>
    <div class="tbldata mpacolumn" style="left: 152px"><%= pc.mi %></div>
    <div class="tbldata enccolumn" style="left: 182px"><%= pc.enc %></div>
    <div class="tbldata kpcolumn" style="left: 210px"><%= pc.kp %></div>
    <div class="tbldata" style="left: 240px"><%= pc.di %></div>
    <div class="tbldata" style="left: 299px"><%= pc.q1 %></div>
    <div class="tbldata" style="left: 350px"><%= pc.q2 or '--'%></div>
    <div class="tbldata" style="left: 408px"><%= pc.q3 or '--'%></div>
    <div class="tbldata" style="left: 464px"><%= pc.q4 or '--'%></div>
    <div class="tbldata" style="left: 534px">
        <%= link_to "Edit", "/utility/editPriestClass/#{pc.el}", remote: true %> / 
        <%= link_to("Delete", "#", remote: true, class: '', 'ng-really-message': "Confirm removal of #{pc.rank}", 'ng-really-click': "deleteIronClass('Priest', '#{pc.rank}')" ) %>
    </div>
</div>