<%= form_for pc, url: "/utility/updatePriestClass/#{pc.el}", remote: true do |f| %>
    <div class="row borderBottom_grey <%= stripe %>" id="editrow">
        <div class="tblhdr tblhdrrow" style="left: 25px"><%= f.text_field :rank, size: 15 %></div>
        <div class="tbldata" style="left: 46px"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 60px"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata epcolumn" style="left:  66px"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left:  95px"><%= f.text_field :mi, size: 2 %></div>
        <div class="tbldata enccolumn" style="left: 118px"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left: 150px"><%=  f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left: 178px"><%= f.text_field :di, size: 2 %></div>
        <div class="tbldata" style="left: 210px"><%= f.text_field :q1, size: 2 %></div>
        <div class="tbldata" style="left: 226px"><%= f.text_field :q2, size: 2 %></div>
        <div class="tbldata" style="left: 246px"><%= f.text_field :q3, size: 2 %></div>
        <div class="tbldata" style="left: 271px"><%= f.text_field :q4, size: 2 %></div>
        <div class="tbldata" style="left: 300px"><%= f.submit "Update" %></div>
    </div>
<% end %>