<% if @floop %>
 <div class="row borderBottom_grey <%= cycle('oddrow', 'evenrow') %> " id="row<%= mc.el %>">
<% else %>
 <div class="row borderBottom_grey <%= @stripe %>" id="row<%= mc.el %>">
<% end %>
    <div class="tblhdr tblhdrrow" style="left: 25px"><%= mc.rank %></div>
    <div class="tbldata" style="left: 110px"><%= mc.el %></div>
    <div class="tbldata" style="left: 163px"><%= mc.al %></div>
    <div class="tbldata epcolumn" style="left: 205px"><%= mc.ep %></div>
    <div class="tbldata mpacolumn" style="left: 230px"><%= mc.mi %></div>
    <div class="tbldata enccolumn" style="left: 265px"><%= mc.enc %></div>
    <div class="tbldata kpcolumn" style="left: 304px"><%= mc.kp %></div>
    <div class="tbldata" style="left: 358px"><%= mc.dm %></div>
    <div class="tbldata" id="mq1" style="left: 418px"><%= mc.q1 %></div>
    <div class="tbldata" style="left: 477px"><%= mc.q2 or '--'%></div>
    <div class="tbldata" style="left: 534px"><%= mc.q3 or '--'%></div>
    <div class="tbldata" style="left: 591px"><%= mc.q4 or '--'%></div>
    <div class="tbldata" style="left: 645px">
        <%= link_to "Edit", "/utility/editMagicianClass/#{mc.el}", remote: true %> / 
        <%= link_to("Delete", "#", remote: true, class: '', 'ng-really-message': "Confirm removal of #{mc.rank}", 'ng-really-click': "deleteIronClass('Magician', '#{mc.rank}')" ) %>
    </div>
</div>