<%= form_for mc, url: "/utility/updateMagicianClass/#{mc.el}", remote: true do |f| %>
    <div class="row borderBottom_grey <%= stripe %>" id="editrow">
        <div class="tblhdr" style="left: 25px"><%= f.text_field :rank, size: 20 %></div>
        <div class="tbldata" style="left: 70px"><%= f.text_field :el, size: 2 %></div>
        <div class="tbldata" style="left: 96px"><%= f.text_field :al, size: 2 %></div>
        <div class="tbldata epcolumn" style="left: 110px"><%= f.text_field :ep, size: 5 %></div>
        <div class="tbldata mpacolumn" style="left: 140px"><%= f.text_field :mi, size: 2 %></div>
        <div class="tbldata enccolumn" style="left: 170px"><%= f.text_field :enc, size: 5 %></div>
        <div class="tbldata kpcolumn" style="left: 211px"><%=  f.text_field :kp, size: 2 %></div>
        <div class="tbldata" style="left: 262px"><%= f.text_field :dm, size: 2 %></div>
        <div class="tbldata" style="left: 292px"><%= f.text_field :q1, size: 2 %></div>
        <div class="tbldata" style="left: 317px"><%= f.text_field :q2, size: 2 %></div>
        <div class="tbldata" style="left: 340px"><%= f.text_field :q3, size: 2 %></div>
        <div class="tbldata" style="left: 365px"><%= f.text_field :q4, size: 2 %></div>
        <div class="tbldata" style="left: 380px"><%= f.submit "Update" %></div>
    </div>
<% end %>