<%# @mc = MagicianClass.find_by_el(params[:id]) %>
//var strp = "<%= @stripe %>";
var frm = '<%= j render "admin/magician/editInlineForm", mc: @mc, stripe: @stripe %>';
$('#row<%= params[:id] %>').hide().after(frm);
