<nav class="navbar navbar-inverse navbar-fixed-top" id="topNavBar">
  <div class="container">
    <div class="navbar-header col-lg-2">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Novasector</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse col-lg-4 col-sm-6">
      <ul class="nav nav-tabs">
        <li class="<% if controller_name == 'main' %>active<% end %>"><a href="/">Home</a></li>
        <% if !@user.present? %>
          <li>
            <%= link_to("Login", showlogin_path, class: "borderright", remote: true, method: 'post' ) %>
            <%= link_to("Signup", signup_path, class: "", id: "signuplink" ) %>
          </li>
        <% else %>
          <% if isAdmin? %>
            <li class="<% if controller_name == 'admin' %>active<% end %>"><%= link_to "Admin", admin_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
    <% if action_name != "login" %>
      
      <% if @user.present? %>
      <div class="dropdown pull-right">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">
            <%= @user.uname %>
          <b class="caret"></b></a>
        
          <ul class="dropdown-menu">
              <li>
                <%= link_to("Log out", logout_path, class: "" ) %>
              </li>
          </ul>
      <% else %>
        <span id="guest">Guest</span>
      <% end %>
      </div>
    <% else %>
      <div class="pull-right" id="proceedlogin">
        Proceed with login
      </div>
    <% end %>
  </div>
</nav>