<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- page specific CSS -->
    <%=  yield :moreCSS %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- page specific scripts -->
    <%= yield :moreJS %>
  </head>

  <body >
    <%# render 'layouts/navbartop' %>
  	<div class="dflexr-jcs" id="mainPanel">
    	<%= yield %>
    </div>
  </body>
</html>
